<h1 class="page-title">Variables <span><a href="http://sass-lang.com/documentation/file.SASS_REFERENCE.html#variables_" target="_blank">(docs)</a></span></h1>

<h2>Code</h2>
<div class="jumbotron">

    <h3>HTML</h3>
<pre>
&lt;ul&gt;
    &lt;li&gt;1&lt;/li&gt;
    &lt;li&gt;2&lt;/li&gt;
    &lt;li&gt;3&lt;/li&gt;
    ...
&lt;/ul&gt;
</pre>

    <h3>SCSS</h3>
<pre>
<strong><span class="highlight">$base-color</span>: #C6538C;</strong>
<strong><span class="highlight">$secondary-color</span>: #808C99;</strong>
<strong><span class="highlight">$hover-color</span>: #121212;</strong>
<strong><span class="highlight">$text-color</span>: #ffffff;</strong>

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        display: inline-block;
        width: 50px;
        height: 50px;
        text-align: center;
        padding-top: 14px;
        color: <strong><span class="highlight">$text-color</span></strong>;

        &:nth-child(even) {
            background: <strong><span class="highlight">$base-color</span></strong>;
        }
        &:nth-child(odd) {
            background: <strong><span class="highlight">$secondary-color</span></strong>;
        }
        &:hover {
            background: <strong><span class="highlight">$hover-color</span></strong>;
        }
    }
}
</pre>
</div>

<h2>Result</h2>
<div class="well variables">
    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
        <li>4</li>
        <li>5</li>
        <li>6</li>
        <li>7</li>
        <li>8</li>
        <li>9</li>
        <li>10</li>   
    </ul>
</div>

<p class="edit">
    <span class="glyphicon glyphicon-edit"></span>
    <a target="_blank" href='http://codepen.io/georapbox/pen/wuKpd'>Edit in CodePen</a>
</p>